<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Запитване</h1>
        <h2>Информация за контакт</h2>
        <p>
            От: <strong>{{ name }}</strong><br>
            Сайт: <strong>{{ web }}</strong><br>
            Е-mail: <strong>{{ from }}</strong><br>
            Телефон: <strong>{{ phone }}</strong><br>
        </p>
    </body>
</html>